@{
    ViewBag.Title = "About";
}
<h2>AwsomeChat!</h2>
<h3>What is it?</h3>
<p>AwsomeChat! a demo project created to experiement with various features of Microsoft Azure.</p>
<p>Below is a crappy diagram made in mspaint that poorly illustrates how this site works.</p>
<img src="~/Content/AwsomeChat.png" />
<h3>Frequently Asked Questions</h3>
<b>Why is 'Awesome' spelt incorrectly?</b>
<p>I'm dyslexic and by the time it was pointed out to me it was too late.</p>
<br />
<b>Will AwsomeChat be improved and worked on in the future?</b>
<p>Maybe. I don't know. I'll probably get bored and do something else to be honnest.</p>
