@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>If you're really that interested feel free to contact me</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:watkins.ben@gmail.com">watkins.ben@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:watkins.ben@gmail.com">watkins.ben@gmail.com</a>
</address>